*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header
{
    color: white;
    background-color: rgb(0, 85, 255);
    padding: 0.1rem 2rem 1rem;
}

main
{
    padding: 2.5rem 4rem;
}

ul
{
    list-style: none;
    padding: 0;
}

a 
{
    color: rgb(0, 85, 255);
}

span.gray 
{
    color: gray;
}

h2 
{
    margin-bottom: -0.35rem;
}